.table th{
    font-size: 14px;
    font-weight: normal;
    color: black;
    text-align: center;
  }
  .table td {
    font-weight: normal;
    font-size: small;
    color: black;
    text-align: center;
    vertical-align: middle; /* Add this line for vertical alignment */
  }
  .table .btn {
      margin-top: 10px;
    vertical-align: middle; /* Add this line for vertical alignment */
  }
/*--------------------------Movie-List----------------------------------*/ 
.movie_item {
    width: 235px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.movie_item_pic {
    position: relative;
    margin-left: 15px;
    width: 210px;
    border-radius: 5px;
    overflow: hidden;
}

.movie_item_pic img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.ep,
.status,
.comment,
.view {
    font-size: 12px;
    color: #ffffff;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 2px;
    position: absolute;
}

.ep {
    top: 10px;
    left: 10px;
    background: #e53637;
}
.status {
    top: 10px;
    right: 10px;
    background: #388E3C;
}
.comment {
    bottom: 10px;
    left: 10px;
    background: #3d3d3d;
}

.view {
    bottom: 10px;
    right: 10px;
    background: #3d3d3d;
}
.movie_item_quality {
    padding-top: 10px;
    margin-left: 10px;
}

.movie_item_quality ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    justify-content: center;
    list-style: none;
}

.movie_item_quality ul li {
    font-size: 12px;
    margin-left: 5px;
    color: #ffffff;
    font-weight: 700;
    padding: 1px 10px;
    background: #e53637;
    border-radius: 5px;
    display: inline-block;
}
.movie_item_text {
    padding-top: 2px;
    margin-left: 2px;
}

.movie_item_text ul {
    margin: 0;
    padding: 5px;
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
    justify-content: center; 
}

.movie_item_text ul li {
    font-size: 10px;
    margin-bottom: 3px;
    margin-left: 5px;
    color: #ffffff;
    font-weight: 700;
    padding: 1px 10px;
    background: #3d3d3d;
    border-radius: 50px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    transition: background-color 0.3s;
}

.movie_item_text ul li:hover {
    background: #388E3C; /* Change the background color on hover */
}
.tag-container {
    text-align: left;
    white-space: pre-wrap;
}